{{! Route would be /friends }}
<section id="friend-feed-section">

    <h2 id="friends-feed-title">Friends Feed</h2>
    <a id="friends-list-link" href="/friends_list">View Friends List</a>
    
    {{! Post Form }}
    <form method="POST" id="post-form">
        <textarea id="post-text" placeholder="What's on your mind?"></textarea>
        <button type="submit" id="post-button">Post</button>
    </form>

    {{! Posts Feed }}
    <div class="posts-feed">
        {{#each posts}}
        <div class="post-item" data-post-id="{{this._id}}">
            <h4 class="friend-poster">{{this.name}} &emsp; {{this.postedDate}}</h4>
            <p class="friend-post">{{this.body}}</p>

            {{! Likes }}
            <button class="like-button">Like</button>
            <p class="post-likes">Current Likes: </p>

            {{! Comments }}
            <div class="post-comments">
                {{#each this.comments}}
                <div>
                    <p class="comment-poster">{{this.name}} &emsp; {{this.postedDate}}</p>
                    <p class="comment-body">{{this.comment}}</p>
                </div>
                {{/each}}
            </div>

            {{! Add Comment}}
            <form method="POST" class="comment-form">
                <input type="text" class="comment-input" placeholder="Write a comment">
                <button type="submit" class="add-comment">Comment</button>
            </form>

        </div>
        {{/each}}
    </div>

    <script src="/public/js/friendsFeed.js"></script>

</section>
